@import "@src/variables.scss";

.sidenav {
  position: relative;
  width: 232px;
  padding: 24px 16px;
  background: white;
  box-shadow: $box-shadow-sm;
  z-index: 4;
}

.navigation {
  height: 100%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    li:nth-child(5) {
      margin-top: auto;
    }
  }
}
