@import "../../variables.scss";

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 16px 40px;
  box-shadow: $box-shadow-sm;
  background: $primary-color;
  z-index: 5;
  user-select: none;
}

.logo {
  height: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  a {
    display: flex;
  }
}
