@import "../../variables.scss";

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 16px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background: $primary-color;
  user-select: none;
}

.logo {
  height: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    color: white;
  }

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
